version: "3"
services:
  rabbitmq:
    container_name: dev-rabbitmq
    hostname: rabbit
    image: rabbitmq:3-management
    ports:
     - "5672:5672"
     - "15672:15672"
  mssql:
    container_name: dev-mssql
    hostname: mssql
    image: mcr.microsoft.com/mssql/server:2017-latest-ubuntu
    ports:
     - "1433:1433"
    environment:
      SA_PASSWORD: "MTsample1"
      ACCEPT_EULA: "Y"
    